INSPECTOR_DATABASE_URL=
DUCKKEY_DATABASE_URL=
DUCKARCHIVE_DATABASE_URL=
NEST_DATABASE_URL=
DRUK_DATABASE_URL=
SHADOW_DATABASE_URL=

PRISMA_CLIENT_OUTPUT="generated/temp/client"
PRISMA_ZOD_OUTPUT="generated/temp/zod"
